@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<h2>Welcome to the air and space atlas</h2>
<p>
    With this project we want to add better visibility to what happens in our skies.
    <br />
    What happens in our skies and in space should be public knowledge.
    <br />
    This project should fill a missing space in the public data about sky and space travel.
    <br />
    <br />
    At the moment we don't have alot of maps and charts yet.
    <br />
    We will add new ones and updating existing ones
    .<br />
    For more information about our development you can view our <a href="https://github.com/users/woofwooftheprogrammer/projects/2/views/3">roadmap</a>.
</p>