@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="leaflet-map full-page-map" id="homeSpacexMap"></div>

<script>
    var map = L.map('homeSpacexMap').setView([0, 0], 2);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    minZoom: 2,
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);
</script>